@font-face {
    font-family: "Gilroy ExtraBold";
    src:
        url(../fonts/gilroyextrabold.woff) format("woff"),
        url(../fonts/gilroyextrabold.woff2) format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gilroy Light";
    src:
        url(../fonts/gilroylight.woff) format("woff"),
        url(../fonts/gilroylight.woff2) format("woff2");
        font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src:
        url(../fonts/opensans.woff) format("woff"),
        url(../fonts/opensans.woff2) format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans Light";
    src:
        url(../fonts/opensanslight.woff) format("woff"),
        url(../fonts/opensanslight.woff2) format("woff2");
    font-style: normal;
    font-weight: normal;
}

body {
    min-width: 1200px;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #464646;
    margin: 0;
    background: #ffffff;
}

a {
    text-decoration: none;
    color: #000000;
}

.button {
    position: relative;
    padding: 8px 40px;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: transparent;
    border: none;
    z-index: 1
}

.button:before {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 100%;
    height: 8px;
    background-color: #f0c52e;
    vertical-align: middle;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: -1;
}

.button:not(.services-active):hover:before {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #f0c52e;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.button:not(.services-active):active {
    background-color: #f0c52e;
    color: #be9c22;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.header-logo,
.footer-logo {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.01em;
    color: #000000;
    text-transform: uppercase;
}

.footer-logo {
    color: #ffc600;
}

.main-header ul,
.main-index ul,
.main-monopods ul,
.main-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    padding: 0 60px;
    width: 1040px;
}

.index-wrapper {
    margin: 0 auto;
    padding: 0;
    width: 1160px;
}

.services h3,
.about-company h3,
.main-monopods h1 {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #000000;
}

.content-titles h2,
.content-sort h3,
.catalog-nav a,
.catalog-list-item span {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #000000;
}

/* Стилизация  header */

.main-header {
    padding-top: 40px;
    z-index: -1;
}

.main-header .wrapper {
    position: relative;
    padding-top: 33px;
    padding-bottom: 39px;
    background-color: #f7e296;
    min-height: 227px;
}

.header-logo {
    position: absolute;
    top: -24px;
    left: 57px;
}

.nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 27px;
}

.main-header a:hover,
.main-header a:focus {
    opacity: 0.6;
}

.main-header a:active {
    opacity: 0.3;
}

/* стилизация формы поиска */

.search-form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 440px;
    height: 49px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.search-form::before {
    position: absolute;
    top: 18px;
    left: 3px;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url(../img/search.svg);
    background-size: cover;
}

.search-form-field {
    position: relative;
    width: 357px;
    height: 49px;
    vertical-align: middle;
    padding: 0 0 0 38px;
    background: transparent;
    border: none;
    opacity: 0.3;
}

.search-form button {
    display: none;
    position: relative;
    background-color: transparent;
    width: 85px;
    height: 49px;
    border: 2px solid #000000;
}

.search-form button::before {
    content: "";
    width: 357px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    bottom: -2px;
    left: -357px;
}

.search-form-field:hover {
    opacity: 0.6;
}

.search-form-field:focus {
    outline: none;
    opacity: 1;
}

.search-form-field:focus + button {
    display: inline-block;
    vertical-align: middle;
}

.search-form button:hover,
.search-form button:focus {
    background: #000000;
    color: #ffffff;
}

.search-form button:active {
    display: inline-block;
    vertical-align: middle;
    outline: none;
    color: rgba(255, 255, 255, 0.3);
}

.user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: auto;
}

.login-form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.login-form::before {
    position: absolute;
    top: 9px;
    left: -25px;
    content: "";
    width: 13px;
    height: 12px;
    background-image: url(../img/user.svg);
    background-size: cover;
}

.login-form:hover::before {
    opacity: 0.6;
}

.cart {
    position: relative;
    margin-left: 64px;
}

.cart::before {
    position: absolute;
    top: 9px;
    left: -23px;
    content: "";
    width: 12px;
    height: 12px;
    background-image: url(../img/cart.svg);
    background-size: cover;
}

.compare {
    position: relative;
    margin-left: 237px;
}

.compare::before {
    position: absolute;
    top: 11px;
    left: -19px;
    content: "";
    width: 10px;
    height: 10px;
    background-image: url(../img/compare.svg);
    background-size: cover;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 125px;
}

.site-navigation-item:first-of-type {
    position: relative;
    width: 270px;
    margin-left: -1px;
    margin-right: 271px;
}

.site-navigation-item:first-of-type > a {
    position: relative;
    padding-right: 27px;
}

.site-navigation-item:first-of-type > a::after {
    position: absolute;
    top: 3px;
    right: 0;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url(../img/plus.svg);
    background-size: cover;
    opacity: 0.3;
}

.site-navigation-item:nth-of-type(2) {
    margin-right: 34px;
}

.site-navigation-item:last-of-type {
    margin-left: auto;
    margin-right: -3px;
}

ul.site-navigation-catalog {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: absolute;
    top: 30px;
    left: -59px;
    width: 640px;
    height: 108px;
    background-color: #f7e296;
    z-index: 3;
    padding: 19px 460px 33px 60px
}

.site-navigation-catalog-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 19px 460px 33px 60px;
}

.site-navigation-catalog-item {
    width: 200px;
    min-height: 36px;
}

.site-navigation-catalog-item:nth-of-type(1),
.site-navigation-catalog-item:nth-of-type(2),
.site-navigation-catalog-item:nth-of-type(3) {
    margin-right: 40px;
}

.site-navigation-catalog-item:last-of-type {
        margin-bottom: 72px;
}

.site-navigation-item:first-of-type:hover .site-navigation-catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.site-navigation-catalog a {
    line-height: 36px;
}

/* Стилизация слайдера */

.popular {
    position: relative;
}

.popular section {
    width: 1160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -111px;
    margin-bottom: 95px;
    z-index: 1;
}

.popular img {
    margin-right: 3px;
    z-index: 1;
}

.popular .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    width: 560px;
    min-height: 497px;
    padding: 0 0 0 40px;
}

.popular b {
    position: relative;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.012em;
    color: #000000;
    margin-top: 79px;
    margin-bottom: 19px;
}

.popular b::before {
    position: absolute;
    top: -43px ;
    left: 0;
    content: "";
    width: 100px;
    height: 7px;
    background-color: #ffffff;
}

.description::before {
    position: absolute;
    top: -13px;
    right: 48px;
    content: "01";
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 179.2px;
    line-height: 179.2px;
    color: #ffffff;
}

.popular-2-slide .description::before {
    content: "02";
}

.popular-3-slide .description::before {
    content: "03";
}

.description p {
    max-width: 485px;
    margin: 0 0 43px 0;
}

.slider-toggles {
    position: absolute;
    bottom: 158px;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

.slider-toggles input[type="radio"] {
    display: none;
}

.slider-toggles label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 10px;
    height: 10px;
    margin-right: 21px;
    vertical-align: top;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

.slider-toggles li:last-child {
    margin-right: 62px;
}

.active {
    position: relative;
}

.active::before {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 4px;
    height: 4px;
    content: "";
    border: 1px solid #000000;
    border-radius: 50%;
}

.button.slide-button {
    width: 140px;
    padding-left: 41px;
    padding-right: 39px;
}

.details {
    width: 465px;
    border-collapse: collapse;
    margin-bottom: 17px;
    margin-top: 49px;
}

.details-value td {
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 36px;
    line-height: 48px;
    color: #000000;
    padding-bottom: 6px;
}

.details-description td {
    font-size: 13px;
    line-height: 20px;
}

.col-w {
    min-width: 157px;
}

.col-n {
    min-width: 137px;
}

section.popular-2-slide,
section.popular-3-slide {
    display: none;
}

/* стилизация категорий */

.categories {
    margin-bottom: 81px;
}

.categories-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.categories-list-item {
    width: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.categories-list-item a,
.catalog-list-item .item-title  {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 23px;
}

.categories-list-item a {
    position: relative;
    padding-top: 195px;
}

.categories-list-item a::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 160px;
    height: 160px;
    background-color: #f7e296;
}

.categories-list-item:first-child a::after {
    content: url(../img/popular-1.svg);
    width: 97px;
    height: 55px;
    position: absolute;
    top: 52px;
    left: 31px;
}

.categories-list-item:nth-child(2) a::after {
    content: url(../img/popular-2.svg);
    width: 86px;
    height: 117px;
    position: absolute;
    top: 41px;
    left: 38px;
}

.categories-list-item:nth-child(3) a::after {
    content: url(../img/popular-3.svg);
    width: 71px;
    height: 87px;
    position: absolute;
    top: 38px;
    left: 49px;
}

.categories-list-item:nth-child(4) a::after {
    content: url(../img/popular-4.svg);
    width: 107px;
    height: 65px;
    position: absolute;
    top: 50px;
    left: 28px;
}

.categories-list-item:nth-child(5) a::after {
    content: url(../img/popular-5.svg);
    width: 56px;
    height: 98px;
    position: absolute;
    top: 32px;
    left: 55px;
}

.categories-list-item:nth-child(6) a::after {
    content: url(../img/popular-6.svg);
    width: 132px;
    height: 69px;
    position: absolute;
    top: 49px;
    left: 13px;
}

.categories-list-item a:hover::before {
  background: #f0c52e;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.categories-list-item a:active {
    color: rgba(0, 0, 0, 0.3);
}

.categories-list-item a:active::before {
    background: #f0c52e;
}

.categories-list-item a:active::after {
    opacity: 0.3;
}

/* стилизация сервисов (слайдер) */

.services {
    width: 100%;
    background:  -webkit-linear-gradient(top, #ffffff 0px, #ffffff 100px, #e5e5e5 100px, #e5e5e5 270px);
    background:  -o-linear-gradient(top, #ffffff 0px, #ffffff 100px, #e5e5e5 100px, #e5e5e5 270px);
    background:  linear-gradient(to bottom, #ffffff 0px, #ffffff 100px, #e5e5e5 100px, #e5e5e5 270px);
}

.services .index-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 308px;
    margin-bottom: 94px;
    padding-top: 80px;
}

ul.services-button-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 169px;
    width: 160px;
    margin-right: 241px;
}

.services-button-list::after {
    position: absolute;
    top: -80px;
    right: -123px;
    content: "";
    width: 7px;
    height: 319px;
    background-color: #000000;
}

.service-button-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.service-button-list-item a {
    padding: 8px 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.services-delivery p {
    margin-top: 31px;
}

.services-active {
    position: relative;
    color: #f7e184;
    background-color: #000000;
}

.services-active::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 158px;
    width: 120px;
    height: 40px;
    background-color: #000000;
}

.services section {
    width: 760px;
}

.services h3 {
    margin-top: -7px;
    margin-bottom: 31px;
}

.services p {
    position: relative;
    max-width: 420px;
}

.services p::after {
    position: absolute;
    top: -67px;
    right: -274px;
    content: "";
    width: 136px;
    height: 164px;
    background-image: url(../img/delivery.svg);
    background-size: cover;
}

.services-warranty p::after {
    top: -90px;
    right: -293px;
    width: 171px;
    height: 194px;
    background-image: url(../img/warranty.svg);
}

.services h3 {
    margin-bottom: 16px;
}

.services-credit p::after {
    top: -91px;
    right: -269px;
    width: 156px;
    height: 186px;
    background-image: url(../img/credit.svg);
}

.services-warranty,
.services-credit {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

 /* стилизация партнеров */

.partners {
    margin-bottom: 98px;
}

 .partners-list {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     height: 100px;
 }

 .partners-list-item {
     position: relative;
 }

 .partners-list-item img:last-child {
     position: absolute;
     top: 0;
     left: 0;
 }

 .partners-list-item img:first-child {
     opacity: 0;
 }

 .partners-list-item:hover img:first-child {
     opacity: 1;
     -webkit-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
 }

 .partners-list-item:hover img:last-child,
 .partners-list-item img:last-child:hover {
     opacity: 0;
     -webkit-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
 }

 /* стилизация блока о компании */
 .about-company p {
     letter-spacing: 0.0057em;
 }

 .about-company-info-partners-list-item {
     font-family: "Gilroy ExtraBold", "Arial", sans-serif;
     font-size: 16px;
     line-height: 40px;
     letter-spacing: normal;
     color: #000000;
 }

 .about-company {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
 }

 .about-company h3 {
     position: relative;
     margin-bottom: 28px;
 }

 .about-company-info h3::before,
 .about-company-contacts h3::before {
     position: absolute;
     top: -52px ;
     left: 2px;
     content: "";
     width: 80px;
     height: 7px;
     background-color: #000000;
 }
 /* стилизация "о нас" */

 .about-company-info {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     width: 580px;
 }

 .about-company-info p {
    width: 480px;
}

.about-company-info p:last-of-type {
    margin-bottom: 66px;
}

.about-company-info-partners-list-item {
    position: relative;
    padding-left: 35px;
    vertical-align: baseline;
}

.about-company-info-partners-list-item::before {
    position: absolute;
    top: 15px;
    left: 2px;
    content: "";
    width: 5px;
    height: 5px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
}

.about-company .button {
    width: 250px;
    margin-top: 55px;
    padding-left: 7px;
    padding-right: 3px;
}

.about-company-info h3 {
    margin-left: -2px;
}

 /* стилизация "контакты" */

 .about-company-contacts {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     width: 560px;
     padding-left: 20px;
 }

 .about-company-contacts p {
     margin-bottom: 40px;
 }

 .about-company-contacts a:first-of-type {
     margin-bottom: 4px;
 }

 .about-company-contacts h3 {
     margin-left: -2px;
 }

 /* стилизация monopods */

.inner-main-header .header-logo {
        top: -22px;
    }

.inner-main-header .wrapper {
     min-height: 114px;
     margin-bottom: 37px;
 }

 .inner-main-header .compare {
     margin-left: 83px;
 }

 .inner-main-header .logout {
     margin-left: 20px;
 }

 .main-monopods h1 {
     margin: 0;
     margin-bottom: 20px;
 }

/* стилизация хлебных крошек */

 .breadcrumbs {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
 }

 .breadcrumbs a {
     font-family: "Open Sans Light", "Arial", sans-serif;
     font-size: 14px;
     line-height: 24px;
     color: #000000;
     opacity: 0.3;
 }

 .breadcrumbs a:not(.current):hover,
 .breadcrumbs a:not(.current):focus {
     opacity: 0.6;
 }

 .breadcrumbs a:not(.current):active {
     opacity: 0.1;
 }

.breadcrumbs li {
    position: relative;
    padding-right: 38px;
    margin-bottom: 44px;
}

.breadcrumbs li:not(:last-of-type)::after {
    position: absolute;
    top: 14px;
    right: 21px;
    content: "";
    width: 4px;
    height: 4px;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
            transform: rotate(225deg);
}

/* стилизация content-titles-wrapper */

.content-titles-wrapper {
    width: 100%;
    background: -webkit-gradient(linear,left top, right top,from(#dbdbdb),color-stop(49%, #dbdbdb),color-stop(50%, #ebebeb),to(#ebebeb));
    background: -webkit-linear-gradient(left,#dbdbdb 0%,#dbdbdb 49%,#ebebeb 50%,#ebebeb 100%);
    background: -o-linear-gradient(left,#dbdbdb 0%,#dbdbdb 49%,#ebebeb 50%,#ebebeb 100%);
    background: linear-gradient(to right,#dbdbdb 0%,#dbdbdb 49%,#ebebeb 50%,#ebebeb 100%);
}

.content-titles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
}

.content-titles.wrapper {
    width: 1100px;
    padding: 0 0 0 60px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

.content-titles h2 {
    width: 268px;
    margin: auto 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.content-sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-left: 72px;
    background-color: #ebebeb;
}

.content-sort h3 {
    margin-right: 59px;
}

.content-sort-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
}

.content-sort-list-item {
    padding-bottom: 4px;
}

.content-sort-list-item:not(:last-child) {
    margin-right: 28px;
}

ul.sort-direction {
    width: 41px;
    height: 10px;
    margin-left: auto;
    margin-top: -65px;
}

.sort-direction li  {
    display: inline-block;
    vertical-align: middle;
}

.sort-direction-item-up a:not(.current),
.sort-direction-item-down a:not(.current) {
    opacity: 0.3;
}

.sort-direction-item-up a {
    font-size: 0;
    border: 5px solid transparent;
    border-bottom: 11px solid #000000;
}

.sort-direction-item-down {
    margin-top: 20px;
}

.sort-direction-item-down a  {
    font-size: 0;
    border: 5px solid transparent;
    border-top: 11px solid #000000;
    margin-left: 15px;
}

.content-sort-list a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3;
}

.sort-direction a:not(.current):hover,
.sort-direction a:not(.current):focus,
.content-sort-list a:not(.current):hover,
.content-sort-list a:not(.current):focus {
    opacity: 0.6;
}

.sort-direction a:not(.current):active,
.content-sort-list a:not(.current):active {
    opacity: 1;
}

.sort-direction .current,
.content-sort-list .current {
    opacity: 1;
}

/* стилизация основного окна */

.content-wrapper {
    background: -webkit-gradient(linear, left top, right top, from(#eeeeee), color-stop(50%, #eeeeee), color-stop(50%, #ffffff), to(#ffffff));
    background: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 50%, #ffffff 50%, #ffffff 100%);
    background: -o-linear-gradient(left, #eeeeee 0%, #eeeeee 50%, #ffffff 50%, #ffffff 100%);
    background: linear-gradient(to right, #eeeeee 0%, #eeeeee 50%, #ffffff 50%, #ffffff 100%);
}

.content.wrapper {
    width: 1100px;
    padding: 0 0 0 60px;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* стилизация фильтров */

.monopods-filter {
    min-width: 268px;
    padding-top: 70px;
    background-color: #eeeeee;
}

.catalog-filter-form fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 200px;
    padding: 0;
    margin: 0 0 35px 0;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.01em;
    border: none;
}

.site-navigation-item > a,
.footer-navigation a,
.catalog-filter-form legend {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.catalog-filter-form legend {
    width: 200px;
    letter-spacing: 0.001em;
    color: #000000;
    text-transform: none;
    padding-top: 10px;
    padding-bottom: 34px;
    border: none;
    border-top: 2px solid #000000;
}

/* стилизация цены */

.range-controls {
  position: relative;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #efefef;
}

.range-controls .scale {
  width: 200px;
  height: 2px;
  background: #dcdcdc;
}

.range-controls .bar {
  width: 115px;
  height: 2px;
  background-color: #72ca00;
}

.range-controls .toggle {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
}

.range-controls .toggle:active {
    width: 6px;
    height: 6px;
}

.range-controls .toggle-min {
    left: -6px;
}

.range-controls .toggle-min:active {
    top: -11px;
    left: -7px;
}

.range-controls .toggle-max {
  left: 107px;
}

.range-controls .toggle-max:active {
    top: -11px;
    left: 106px;
}

.price-range {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 144px;
}

.price-range span {
    display: inline-block;
    vertical-align: middle;
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.2);
}

fieldset.color {
    margin-bottom: 31px;
}

.color legend {
    padding-bottom: 18px;
}

.color input[type="checkbox"],
.bluetooth input[type="radio"] {
    display: none;
}

.color label,
.bluetooth label {
    display: block;
    position: relative;
    padding-left: 38px;
}

.color input[type="checkbox"] + label::before,
.color input[type="checkbox"]:checked:not(:disabled) + label:active::before {
    position: absolute;
    top: 8px;
    left: -2px;
    content: "";
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    background-size: cover;
}

.color input[type="checkbox"]:checked + label::before,
.color input[type="checkbox"]:not(:disabled) + label:active::before  {
    width: 26px;
    background-image: url(../img/checkbox-on.svg);
}

.color input[type="checkbox"]:not(:disabled) + label:hover::before,
.color input[type="checkbox"]:not(:disabled) + label:focus::before,
.color input[type="checkbox"]:checked:not(:disabled) + label:hover::before,
.color input[type="checkbox"]:checked:not(:disabled) + label:focus::before,
.bluetooth input[type="radio"]:not(:disabled) + label:hover::before,
.bluetooth input[type="radio"]:not(:disabled) + label:focus::before,
.bluetooth input[type="radio"]:checked:not(:disabled) + label:hover::before,
.bluetooth input[type="radio"]:checked:not(:disabled) + label:focus::before {
    opacity: 0.6;
}

.color input[type="checkbox"]:disabled + label,
.color input[type="checkbox"]:checked:disabled + label,
.bluetooth input[type="radio"]:disabled + label,
.bluetooth input[type="radio"]:checked:disabled + label {
    opacity: 0.25;
}

.bluetooth legend {
    padding-bottom: 18px;
}

.bluetooth input[type="radio"] + label::before,
.bluetooth input[type="radio"]:checked:not(:disabled) + label:active::before {
    position: absolute;
    top: 7px;
    left: -2px;
    content: "";
    width: 25px;
    height: 25px;
    background-image: url(../img/radio-off.svg);
    background-size: cover;
}

.bluetooth input[type="radio"]:checked + label::before,
.bluetooth input[type="radio"]:not(:disabled) + label:active::before {
    background-image: url(../img/radio-on.svg);
}

.catalog-filter-form button {
    background-color: transparent;
    margin-left: -2px;
    padding: 8px 38px 8px 42px;
}

fieldset.bluetooth {
    margin-bottom: 32px;
}

/* стилизация товаров в каталоге */

.content-items-main {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 832px;
    background-color: #ffffff;
    padding-top: 49px;
}

ul.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 32px;
    margin-bottom: 9px;
}

.catalog-list-item {
    position: relative;
    width: 360px;
    min-height: 486px;
    margin-left: 40px;
    margin-top: 20px;
}

.catalog-list-item img {
    margin-bottom: 25px;
}

.new::before {
    position: absolute;
    top: 29px;
    right: 27px;
    width: 56px;
    height: 36px;
    font: 14px "Gilroy ExtraBold", Arial, sans-serif;
    color: #000000;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 50%;
    content: "new";
    opacity: 0.1;
}

.catalog-list-item p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    margin-left: -1px;
}

.catalog-list-item a {
    max-width: 253px;
}

.catalog-list-item .item-hover {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
    width: 360px;
    height: 380px;
    background-color: rgba(238, 238, 238, 0.7);
    cursor: pointer;
}

.catalog-list-item:hover .item-hover{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog-list-item .item-title {
    letter-spacing: 0.01em;
    color: #000000;
}

.catalog-list-item span {
    font-family: "Gilroy Light", "Arial", sans-serif;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #464646;
    opacity: 1;
}

.catalog-list-item .button {
    margin-top: 47px;
    margin-bottom: 6px;
    margin-left: 2px;
    padding: 8px 35px 8px 37px;
}

.add-to-compare {
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 13px;
    line-height: 36px;
    letter-spacing: 0.01em;
    opacity: 0.5;
}

.add-to-compare:hover,
.add-to-compare:focus {
    opacity: 1;
}

.add-to-compare:active {
    opacity: 0.2;
}

/*  стилизация навигации в каталоге*/

ul.catalog-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 760px;
    background-color: rgba(0, 0, 0, 0.08);
    margin-bottom: 77px;
    margin-left: 73px;
}

.catalog-nav-prev,
.catalog-nav-next {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 126px;
}

.catalog-nav-next a {
    margin-left: -2px;
}

.catalog-nav-prev a {
    margin-left: 2px;
}

.page-numbers a {
    display: inline-block;
    vertical-align: middle;
    padding: 24px 11px 21px 12px;
    text-align: center;
}

a.page:not(.current) {
    opacity: 0.3;
}

a.page:not(.current):hover,
a.page:not(.current):focus {
    opacity: 1;
}

a.page:not(.current):active {
    opacity: 0.2;
}

.catalog-nav-prev:hover,
.catalog-nav-next:hover,
.catalog-nav-prev:focus,
.catalog-nav-next:focus,
.catalog-nav-prev:active,
.catalog-nav-next:active {
    background-color: rgba(0, 0, 0, 0.08);
}

.catalog-nav-prev a:active,
.catalog-nav-next a:active {
    opacity: 0.3;
}

 /* стилизация "футер" */

 .main-footer {
     background-color: #464646;
     color: #ffffff;
     margin-top: 81px;
     padding-top: 60px;
     padding-bottom: 60px;
 }

 .main-footer .index-wrapper {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: start;
         -ms-flex-pack: start;
             justify-content: flex-start;
 }

 .footer-right a,
 .footer-right p {
     line-height: 36px;
 }

 .footer-navigation a,
 .footer-user-navigation a,
 .footer-login-form a {
     color: #ffffff;
 }

 .footer-user-navigation a,
 .footer-login-form a {
     color: #d3d3d3;
 }

 .footer-user-navigation a:hover,
 .footer-login-form a:hover,
 .footer-user-navigation a:focus,
 .footer-login-form a:focus {
     color: #ffffff;
 }

 .main-footer .cart:hover:before,
 .main-footer .compare:hover:before,
 .main-footer .login-form:hover:before,
 .main-footer .cart:focus:before,
 .main-footer .compare:focus:before,
 .main-footer .login-form:focus:before,
.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-logo:hover,
.footer-logo:focus,
.footer-social a:hover,
.footer-social a:focus,
.footer-right img:hover,
.footer-right img:focus {
    opacity: 0.6;
}

.main-footer .cart:active:before,
.main-footer .compare:active:before,
.main-footer .login-form:active:before,
.footer-user-navigation a:active,
.footer-navigation a:active,
.footer-right img:active {
    color: #ffffff;
    opacity: 0.3;
}

.footer-logo:active {
    opacity: 0.3;
}

 .footer-social a:active {
     opacity: 0.1;
 }

 .footer-left,
 .footer-center,
 .footer-right {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
 }

 .footer-left {
     width: 340px;
     margin-right: 26px;
 }

.footer-logo {
    position: relative;
    margin-left: -3px;
    margin-bottom: 7px;
}

.footer-left p::after {
    position: absolute;
    top: 107px ;
    left: 1px;
    content: "";
    width: 80px;
    height: 7px;
    background-color: #ffc600;
}

.footer-left p {
    position: relative;
    margin-left: -1px;
    letter-spacing: normal;
}

.footer-navigation,
.footer-user-navigation,
.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 428px;
    padding-top: 74px;
    margin-right: 66px;
}

.footer-navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 428px;
}

.footer-navigation li {
    margin-bottom: 60px;
}

.footer-social {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 141px;
}

.footer-social li{
    width: 32px;
    height: 32px;
}

.footer-social a {
    position: relative;
    opacity: 0.3;
}

.footer-social-fb a::before,
.footer-social-insta a::before,
.footer-social-tw a::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-image: url(../img/fb.svg);
    background-size: cover;
}

.footer-social-insta a::before {
    background-image: url(../img/instagram.svg);
}

.footer-social-tw a::before {
    background-image: url(../img/twitter.svg);
}

.footer-right {
    width: 300px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.main-footer .cart {
    margin-right: -1px;
    margin-left: 63px;
}

.main-footer .cart::before {
    top: 12px;
    left: -22px;
    background-image: url(../img/cart-footer.svg);
    opacity: 1;
}

.main-footer .compare {
    margin-left: 63px;
}

.main-footer .compare::before {
    top: 14px;
    left: -20px;
    background-image: url(../img/compare-footer.svg);
    opacity: 1;
}

.main-footer .login-form::before {
    top: 12px;
    left: -26px;
    background-image: url(../img/user-footer.svg);
    opacity: 1;
}

.footer-user-navigation {
    margin-bottom: -28px;
}

.footer-right p {
    margin: 0 -2px 0 0;
    color: inherit;
}

.footer-right > a {
    height: 34px;
}

.inner-footer {
    margin: 0;
}

.inner-footer .compare {
    margin-left: 63px;
}

.inner-footer .login-form {
    min-width: 197px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.inner-footer .logout {
    margin-left: 19px;
    opacity: 0.3;
}

/* стилизация всплывашки "напишите нам" */
@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}
@keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateX(-2000px);
                transform: translateX(-2000px);
    }

    70% {
        -webkit-transform: translateX(30px);
                transform: translateX(30px);
    }

    90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }

    10% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateX(-2000px);
                transform: translateX(-2000px);
    }

    70% {
        -webkit-transform: translateX(30px);
                transform: translateX(30px);
    }

    90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }

    10% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

.modal {
    position: fixed;
}

.modal-close {
    position: absolute;
    top: 22px;
    right: 22px;
    width: 54px;
    height: 54px;
    font-size: 0;
    background-color: #f0c52e;
    border-radius: 50%;
    border: none;
    opacity: 0.5;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 2px;
    background-color: #ffffff;
}

.modal-close::before {
    -webkit-transform: translateX(-50%) rotate(-45deg);
        -ms-transform: translateX(-50%) rotate(-45deg);
            transform: translateX(-50%) rotate(-45deg);
}

.modal-close::after {
    -webkit-transform: translateX(-50%) rotate(45deg);
        -ms-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.3;
}

.modal-feedback {
    top: 50%;
    left: 50%;
    margin-top: -277.5px;
    margin-left: -480px;
    display: none;
    width: 760px;
    min-height: 380px;
    padding-top: 95px;
    padding-right: 100px;
    padding-bottom: 80px;
    padding-left: 100px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 30px 50px 7px rgba(0, 0, 0, 0.2);
            box-shadow: 0 30px 50px 7px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.form-feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.form-feedback label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 10px;
}

.form-feedback input,
.form-feedback-message textarea {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-top: 5px;
}

.form-feedback-name,
.form-feedback-email {
    width: 360px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.form-feedback-name {
    margin-right: 40px;
}

.form-feedback-name input,
.form-feedback-email input,
.form-feedback-message textarea {
    width: 344px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 17px;
    background-color: #f2f2f2;
    border: 3px solid transparent;
}

.form-feedback-message textarea {
    width: 734px;
}

.form-feedback-name input:hover,
.form-feedback-email input:hover,
.form-feedback-message textarea:hover {
    background-color: #ebebeb;
}

.form-feedback-name input:focus,
.form-feedback-email input:focus,
.form-feedback-message textarea:focus {
    background-color: #f2f2f2;
    border: 3px solid #f7e296;
    outline: none;
}

.form-feedback input:invalid:not(:focus):not(:placeholder-shown) {
    background: #f6dada;
}

.form-feedback-invalid {
    background: #f6dada;
}

/* стилизация всплывашки "карта" */

.modal-map {
    display: none;
    top: 50%;
    left: 50%;
    margin-top: -280px;
    margin-left: -480px;
    width: 960px;
    height: 560px;
    -webkit-box-shadow: 0 30px 50px 7px rgba(0, 0, 0, 0.2);
            box-shadow: 0 30px 50px 7px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.modal-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;
}

.modal-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
}

.modal-shown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.login-form:active::before {
    opacity: 0.3;
}
