.modal-partners {
  width: 233px;
}

.modal-partners__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal-partners__link {
  &:hover {
    opacity: 0.5;
  }
}
