@keyframes bounce {
  0% {
    transform: translateX(-2000px);
  }

  70% {
    transform: translateX(30px);
  }

  90% {
    transform: translateX(-10px);
  }

  10% {
    transform: translateX(0px);
  }
}
