body {
  min-width: 1920px;
  font-family: $reg;
  background-color: $white;
  color: $black;
  font-size: 13px;
  line-height: 20px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  @include reset-list;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
