// colors
$white: #ffffff;
$black: #000000;
$fontgrey: #929292;
$backgrey: #eeeeee;
$socialgrey: #e9e9e9;
$bordergrey: #dfdfdf;
$footergrey: #fafafa;

// fonts
$reg: "Montserrat Regular", "Arial", sans-serif;
$med: "Montserrat Medium", "Arial", sans-serif;
$sb: "Montserrat SemiBold", "Arial", sans-serif;

